@{
    Layout = "~/Views/Shared/layout.cshtml";
}
@model Customer.Models.User
<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <title>Login</title>
    </head>
    <body>
        <br>
    <div class="col-lg-12">
        <br>
        <div class="section-title">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <br>
    <div class="fontdk">
        @using (Html.BeginForm("CheckAccount","account",FormMethod.Post))
        {
            <div class="font">
                <br>
                <h1 id="chaomung">FastFood</h1>
                <h4 id="toida">Đăng nhập bằng</h4>
                <br>
                    <div class="d">
                        <div id="logface">
                            <div id="iconsdt">
                                <i class="fa fa-mobile-phone" style="font-size:55px;color:#000;margin-left: 25%"></i>
                            </div>
                            <div id="face">
                                <button id="sdt" type="submit">Đăng nhập bằng số điện thoại</button>
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconfb">
                                <i class="fa fa-facebook" style="font-size: 36px;margin-left: 27%;margin-top: 15%;color: #fff;"></i>
                            </div>
                            <div id="face">
                                <button id="fb" type="submit">Đăng nhập bằng Facebook</button>
                            </div>
                        </div>
                        <br>
                        <div>
                            <table>
                                <tr>
                                    <td id="gach">&nbsp;</td>
                                    <td rowspan="2" id="hoac">hoặc</td>
                                    <td id="gach">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div id="icon">
                            <div id="logface">
                                <div id="iconlogin">
                                    <i class="fa fa-user" style="font-size:36px;color:#000;margin-left: 25%;margin-top: 15%;"></i>
                                </div>
                                <div id="face">
                                    @Html.TextBoxFor(m => m.Sdt,new{@id="form",@placeholder="Số điện thoại"})
                                </div>
                            </div>
                            <br>
                            <div id="logface">
                                <div id="iconpass">
                                    <i class="fa fa-eye-slash" style="font-size:25px;color:#000;margin-left: 20%;margin-top: 25%;"></i>
                                </div>
                                <div id="face">
                                    @Html.TextBoxFor(m => m.Matkhau,new{@id="form",@placeholder="Mật khẩu",@type="password"})
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="button">
                            <button id="dangnhap" type="submit">Đăng nhập</button>
                        </div>
                        <br>
                        <div class="button">
                            <button id="dangky"><a href="/account/register" style="color:#fff">Đăng ký</a></button>
                        </div>
                    </div>
            <br>
            </div>
        }
    </div>
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    </body>
    </html>
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="/Home/Index">Log in</a>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>*@
