<div class="menu_section active">
    <h3>General</h3>
    <ul class="nav side-menu" style="">
       @* <li class="active">
            <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: block;">
                <li class="current-page"><a href="index.html">Dashboard</a></li>
                <li><a href="index2.html">Dashboard2</a></li>
                <li><a href="index3.html">Dashboard3</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="form.html">General Form</a></li>
                <li><a href="form_advanced.html">Advanced Components</a></li>
                <li><a href="form_validation.html">Form Validation</a></li>
                <li><a href="form_wizards.html">Form Wizard</a></li>
                <li><a href="form_upload.html">Form Upload</a></li>
                <li><a href="form_buttons.html">Form Buttons</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="general_elements.html">General Elements</a></li>
                <li><a href="media_gallery.html">Media Gallery</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="glyphicons.html">Glyphicons</a></li>
                <li><a href="widgets.html">Widgets</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="calendar.html">Calendar</a></li>
            </ul>
        </li>*@
        <li>
            <a><i class="fa fa-table"></i> Category Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/admin/getallcategories">View All Categories</a></li>
                <li><a href="/admin/addCategory">Add New Category</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-table"></i> San Pham Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/admin/getallsanpham">View All San Pham</a></li>
                <li><a href="/admin/addSanpham">Add New San Pham</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-table"></i> Customer Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/admin/getallcustomer">View All Customer</a></li>
                @*<li><a href="/admin/addSanpham">Add New San Pham</a></li>*@
            </ul>
        </li>
        <li>
            <a><i class="fa fa-table"></i> Hóa Đơn Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/admin/getallhoadon">View All Hóa Đơn</a></li>
                @*<li><a href="/admin/addSanpham">Add New San Pham</a></li>*@
            </ul>
        </li>
        <li>
            <a><i class="fa fa-table"></i> Review Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/admin/getallreview">View All Review</a></li>
                @*<li><a href="/admin/addSanpham">Add New San Pham</a></li>*@
            </ul>
        </li>     
    </ul>
</div>
                                                                                                                                                                                                            
